<h1>DataSift Elements</h1>
<h3>Total Endpoints: <%= @elements.size -%></h3>
[<a href="/plain">Plain Text</a> ][<a href="/main/index.json">JSON</a>]
<table id="master_table">
	<thead>
		<tr>
			<th>Path</th>
			<th>Reference</th>
			<th>Data Type</th>
			<th>Description</th>
			<th>First Seen</th>
			<th>Last Seen</th>
		</tr>
	</thead>
	<tbody>
		<% @elements.each do |e| -%>
		<tr>
			<td><%= link_to e.fullpath.gsub(/\.$/,'').gsub("."," &rarr; ").html_safe, "http://dev.datasift.com/search/site/#{e.fullpath.gsub('.0','')}", :target => "_blank" -%></td>
			<td><%= e.fullpath  -%></td>
			<td><%= e.datatype -%></td>
			<td><%= e.description -%></td>
			<td><%= e.created_at -%></td>
			<td><%= e.updated_at -%></td>
		</tr>
		<% end %>
	</tbody>
</table>

<script>
$(document).ready(function() {
    $('#master_table').dataTable( {
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": true,
    	"aoColumns": [ 
			/* Path */   null,
			/* Reference */  { "bVisible":    false },
			/* Data Type */  null,
			/* Description */  null,
			/* First Seen */    null,
			/* Last Seen */    null
		]
    } );
} );
</script>